openapi: 3.0.1
info:
  title: MultiLayer Insights API
  description: API לניהול ותיעוד תובנות במערכת MultiLayer GPT Manager.
  version: "1.0.0"
servers:
  - url: "https://script.google.com/macros/s/AKfycby_FU9gaPWsisHhJNpk0QArYiLIvuEZSv2jrRtxu0ws7FVHl4bpwNv_P5trIqq-gB_xjg/exec"

paths:
  /:
    get:
      operationId: getInsights
      summary: קבלת תובנות
      parameters:
        - name: id
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
        - name: engine
          in: query
          schema:
            type: string
        - name: relevance_to
          in: query
          schema:
            type: string
        - name: date_from
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK

    post:
      operationId: addInsight
      summary: הוספת תובנה חדשה
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type: { type: string }
                engine: { type: string }
                summary: { type: string }
                context_excerpt: { type: string }
                relevance_to: { type: string }
                confidence: { type: string }
                iteration: { type: string }
                source_type: { type: string }
                rationale_trace: { type: string }
                insight_quality_tags: { type: string }
      responses:
        '200':
          description: Added

    put:
      operationId: updateInsight
      summary: עדכון תובנה קיימת
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: string }
                type: { type: string }
                engine: { type: string }
                summary: { type: string }
                context_excerpt: { type: string }
                relevance_to: { type: string }
                confidence: { type: string }
                iteration: { type: string }
                source_type: { type: string }
                rationale_trace: { type: string }
                insight_quality_tags: { type: string }
      responses:
        '200':
          description: Updated

    delete:
      operationId: deleteInsight
      summary: מחיקת תובנה
      parameters:
        - name: id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Deleted
