
openapi: 3.0.0
servers:
  - url: https://script.google.com/macros/s/AKfycby1XKP13_hDhYMh7C93aBSqL2OXI9NQyyijv_4FLuOsppUGbJkNPrCNps0JurWdLbIYhg/exec
info:
  title: MultiLayer GPT Insight API
  description: API for logging, updating, retrieving and deleting insights from the MultiLayer GPT system.
  version: 1.0.0

paths:
  /insight:
    post:
      summary: Add a new insight
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Insight'
      responses:
        '200':
          description: Insight added

    put:
      summary: Update an existing insight
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Insight'
      responses:
        '200':
          description: Insight updated
        '404':
          description: Not found

    get:
      summary: Get all insights or one by ID
      parameters:
        - in: query
          name: id
          schema:
            type: string
          required: false
          description: The ID of the insight to retrieve
      responses:
        '200':
          description: A list of insights or one insight
          content:
            application/json:
              schema:
                type: object

    delete:
      summary: Delete an insight by ID
      parameters:
        - in: query
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Insight deleted
        '404':
          description: Not found

components:
  schemas:
    Insight:
      type: object
      required:
        - id
        - type
        - summary
        - context_excerpt
        - engine
        - relevance_to
        - confidence
        - significance
        - iteration
      properties:
        id:
          type: string
          example: insight-2025-05-08T22:37:51Z-Critique
          description: Unique identifier composed of timestamp and engine
        type:
          type: string
          enum: [SystemInsight, BotInsight, StyleInsight, ProcessInsight, ResourceInsight]
        summary:
          type: string
        context_excerpt:
          type: string
        engine:
          type: string
          example: Critique
        relevance_to:
          type: string
          example: gpt:emotiva
        confidence:
          type: string
          enum: [low, medium, high]
        significance:
          type: string
          enum: [low, medium, high]
        iteration:
          type: string
          enum: [new, repeated, summary]
